@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');



:root {
    /* --backgroundColor: #331C0E; */
    --backgroundColor: #b3cde0;
    --fontcolor: #423730;
    --primaryColor: #6497b1;



}


body {
    background-color: var(--backgroundColor);
    margin: 0;
    font-family: 'Cinzel Decorative';
}

.nav {
   
    color: var(--fontcolor);
    text-transform: none;
    padding: 0.5rem;
    letter-spacing: 5px;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 2px 2px lightslategray;

}

#textarea1 {
    width: 80%;
    margin: auto;
    min-height: 20vh;
    display: block;
    padding: 0.5rem;
    border-style: solid;
}

body {
    margin: 0;

}

#button {
    text-align: center;
    margin: 0.5rem auto;
    margin-top: 1rem;
    padding: 0.5rem;
    display: flex;
    background-color: #1C1917;
    color: white;
}

#translatedText {
    background-color: white;
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-style: inset;
    min-height: 20vh;

}

.footer {
    position: fixed;
    bottom: 0;
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--primaryColor);
}