@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');


:root {
    /* --primarycolor: #331C0E; */
    --primarycolor: #60A5FA;
    --fontcolor: #423730;


}




.nav {
    
    font-family: 'Cinzel Decorative';
    color: var(--fontcolor);
    text-transform: none;
    padding: 0.5rem;
    letter-spacing: 5px;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    text-shadow: 2px 2px lightslategray;
    
    
}

#textarea1 {
    width: 50%;
    margin: 1rem;
    display: block;
    padding: 1rem;
    border-style: solid;
    font-family: 'Cinzel Decorative';

}

body{
    background-size: cover;
    
    
}
#button {
    background-color: #1C1917;
    color: white;
    padding: 0.5rem;
    margin: auto;
    font-family: 'Cinzel Decorative';
    border: none;
    position: relative;
    left: 120px;
}

#translatedText {
    background-color: white;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    border-style: inset;
    font-family: 'Cinzel Decorative';

}

.footer {
    font-family: 'Cinzel Decorative';
    font-size: 1rem;
    margin: 0rem;
    padding: 1rem;
    background-color: rgba(117, 190, 218, 0.5);
}