@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
:root {
    /* --primarycolor: #331C0E; */
    --primarycolor: #60A5FA;
    --fontcolor: #423730;


}


body { 
    margin: 0;
    font-family: 'Cinzel Decorative';
}

.nav {
    
    
    color: var(--fontcolor);
    text-transform: none;
    padding: 0.5rem;
    letter-spacing: 5px;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    text-shadow: 2px 2px lightslategray;
    
    
}

#textarea1 {
    width: 50%;
    margin: 1rem;
    min-height: 10vh;
    display: block;
    padding: 1rem;
    border-style: solid;
    

}

body{
    background-size: cover;
    
    
}
#button {
    background-color: #1C1917;
    color: white;
    padding: 0.5rem;
    margin: auto;
    border: none;
    position: relative;
    left: 120px;
}

#translatedText {
    background-color: white;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    border-style: inset;
    min-height: 10vh;

}

.footer {
    position: fixed;
    bottom: 0;
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: rgba(117, 190, 218, 0.5);
    
}

